@mixin focusStyle 
    outline: solid 3px #639af9
    outline-offset: 5px
    visibility: visible
    opacity: 1
    outline-style: inset
@mixin hoveredButton
    box-shadow: 0 4px 11px rgba(55,125,255,.35)
    transform: translateY(-3px)
    cursor: pointer
    
.container
    max-width: 100%
    box-sizing: border-box
    margin: 0 auto
    align-items: center
    @media only screen and ( max-width: 1024px )
        max-width: 100%
    @media screen and ( max-width: 576px )
        width: 540px
    @media screen and ( max-width: 768px )
        width: 720px
    @media screen and ( min-width: 992px )
        width: 960px
    @media screen and ( min-width: 1200px )
        width: 1200px
    @media screen and ( min-width: 1536px )
        width: 1280px
